@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
	font-family: 'Poppins', sans-serif;
	margin:0px;
	box-sizing: border-box;
}
.lmessage
{
	font-size: 15px;
	color:red;
	font-weight: 500;
}
.us_name
{
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	height: 40px;
	color: #000000;
	background: linear-gradient(60deg, #CCBA78, white);

}
.lmessage1
{
	font-size: 15px;
	color:red;
	display: flex;
	justify-content: center;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: -10px;
}
.message
{
	font-size: 15px;
	color:red;
	font-weight: 500;
}
.details-cont
{
	
	margin-left: 9px;
}
.paybill
{
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
	
}
.pat
{
	display: flex; 
	justify-content: flex-end; 
	padding:10px; 
	font-size: 18px;
	color: red;
	font-weight: 600;
}
.paybill thead
{
	background: linear-gradient(-135deg, #e9c979, #CCBA78);
}
.paybill tbody
{
		border: 1px solid #CCBA78;
	
}
.homep
{
	color: #fff;
	overflow: hidden; 
	border-right: .15em solid #CCBA78;
	white-space: nowrap; 
	margin-left: 10px;
	letter-spacing: .1em; 
	animation: 
	  typing 3.5s steps(20, end) infinite,
	  blink-caret .5s step-end infinite;
}
body{
	height: 100vh;
}
@keyframes typing {
	from { width: 0 }
	to { width: 37% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #CCBA78 }
}
.paybill th 
{
	width: 30%;
	height: 30px;
	padding: 10px;
	text-align: center;
}
.paybill td
{
	width: 30%;
	height: 30px;
	padding: 10px;
	text-align: center;
	
}
.paybill .ps
{
	width: auto;
}
.col
{
	margin-left: 15px;
}
.cust
{
	
	font-weight: 600;
	font-size: 16px;
}
.cust1
{
	margin-left: 25px;
}
.message.match
{
	color: green;
	font-weight: 500;
}
.login_message.match
{
	color: green;
	font-weight: 500;
}
.asignup
{
	margin-top: 30px;
	margin-bottom: -10px;
	display: flex;
	justify-content: center;
	
}
.bsignup
{
	margin-left: 5px;
	margin-right: 5px;
}
.signup
{
 	background: url(assets/image1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items:center;
	height: 100vh;
	width: 100%;
	background-attachment: scroll;
	background-position: center;
}
placeholder
{
	font-family: 'Poppins', sans-serif;
}
.container
{
	 max-width: 700px;
	 width: 100%;
	 height: auto;
	 background: white;
	 padding: 30px 30px;
	 border-radius: 10px;
}

.container .title
{
	 font-size: 30px;
	 font-weight: 600;
	 display: flex;
	 justify-content: center;
	
	 margin-bottom: 10px;
	 color:  #CCBA78;
}

.container form .user-details
{
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-between;
}

form .user-details .input-box 
{
	 margin-bottom: 9px;
	 width: calc(100% / 2 - 20px);
}
.user-details .input-box .details 
{
	 display: block;
	 font-weight: 500;
	 margin-bottom: 5px;
}

.drtitle
{
	 height: 35px;
	 width: 100%;
	 outline: none;
	 border-radius: 5px;
	 border: 1px solid #ccc;
	 padding-left: 15px;
	 font-size: 14px;
	 border-bottom-width: 2px;
	 transition: all 0.3s ease;
}
.user-details .input-box input 
{
	height: 35px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 14px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
  
}
.user-details .input-box textarea
{
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
	
} 

.user-details .input-box input:focus,
.user-details .input-box input:valid{
	border-color: #CCBA78;
}

.user-details .input-box textarea:focus
{
	border-color: #CCBA78;
}
.sbutton input
{
	height: 40px;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	margin-top: 10px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #000000, #CCBA78);
	
}
.sbutton input:hover
{
	background: linear-gradient(-135deg, #000000, #CCBA78);
}

form .button input
{
	height: 40px;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: -10px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #000000, #CCBA78);

}
form .button input:hover
{
	background: linear-gradient(-135deg, #000000, #CCBA78);
}

.title {
	color: #5C6AC4;
}*
{
  	text-decoration: none;
}
.hero
{
	background: black;
	color: white;
	width: 100%;
}

.logo 
{
	width: 120px;
}
.user-pic
{
	border-radius: 50%;
	width: 40px;
	cursor: pointer;
	margin-right: 20px;
	margin-left: 20px;
	
}
.logout-pic
{
	margin-left: 20px;
	width: 40px;
	cursor: pointer;

}
nav
{
	font-weight: 700;
	background: black;
	padding: 10px 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	
}
.sub-menu-wrap
{
	position: absolute;
	top: 100%;
	right: 4%;
	border-radius: 10px;
	width: 320px;
	background: #CCBA78;
	max-height:0px;
	overflow: hidden;
	transition: max-height 0.5s;
}
.ext
{
	color: #CCBA78;
}
.sub-menu-wrap.open-menu
{
	max-height:300px;
}
.sub-menu
{
	background: black;
	margin: 5px;
	border-radius:10px;
	padding: 10px;
}
.user-info
{
	display: flex;
	align-items: center;
}
.user-info img
{
	border-radius: 50%;
	margin-right: 15px;
	
}
.sub-menu-link
{
	display:flex;
	align-items: center;
	text-decoration: none;
	color: black;
	margin: 12px 12px;
}
.sub-menu-link p
{
	width:100%;
	color: #CCBA78;
}
.sub-menu-link img
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 50px;
	padding: 8px;
}
.sub-menu-link span
{
	font-size: 22px;
	transition: transform 0.5s;
}
.sub-menu-link:hover span
{
	transform: translateX(5px);
}
.sub-menu-link:hover p
{
	font-weight: 800;
}
.user-info h2
{
	font-weight: 700;
}
nav ul
{
	width: 100%;
	text-align: right;
}
nav ul li
{
	display: inline-block;
	list-style: none;
	margin-left:  20px;
	margin-right:20px;
	margin-top: 10px;
	margin-bottom:10px;
}
nav ul li a
{
	color: #CCBA78 ;
	text-decoration: none;
}
.b1
{
	color: #000000;
	font-weight: bold;
	font-size: 17px;
}
.sb
{
	height: 10px;
	color: #000000;
	font-weight: bold;
	font-size: 17px;
}
.ind_button
{
	background: linear-gradient(60deg, #CCBA78, white);
	margin-left: 15px;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
}
.complaint_status_form
{
	position: relative;
}
.searchi
{
	display: block;
}
.paybll_pg td
{
	width: 30%;
	height: 30px;
	padding: 10px;
	
}

.searchb
{
	position: absolute;
	top:0;
	padding-top: 31px;
	cursor: pointer;
	right:0;
	background: none;
	border: none;
}
.searchb i
{
	font-size: 20px;
	color: grey;
}
.bg1
{
	background: url(assets/image1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-attachment: scroll;
	background-position: center; 
}
.intro
{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 65px;
}
.sub-menu hr
{
	margin-top: 15px;
	height: 1px;
	width: 100%;
	color: #CCBA78;
}
.bg21
{
	display: flex;
	width: 50%;
	border-radius:10px;
	border: 5px solid black;
	height:50%;
	background-color: white;
}